@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --main-width: 750px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
                    "header header header"
                    "...... main   ......";
    grid-template-columns: 1fr auto 1fr;

}

main {
    width: var(--main-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding: 10px;
    grid-area: main;
}

button {
    cursor: pointer;
}

#store-header {
    color: #fff;
    background-color: #333333;
    width: 100%;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr var(--main-width) 1fr;
}

#header-text {
    grid-column: 2;
    font-size: x-large;
    font-weight: normal;
    margin: 15px 0;
}

.card {
    height: 220px;
    padding: 12px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.card h2 {
    font-weight: 900;
    margin-top: 10px;
}

.card h4 {
    font-weight: 500;
    margin-bottom: 0;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.hidden {
    display: none;
}

.card-button-container {
    display: flex;
    gap: 10px;
}

.card-button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

#loan-button {
    background-color: #4bf1a1;
}

#loan-button:hover {
    background-color: #0bff89;
}

#bank-button {
    background-color: #edef4c;
}

#bank-button:hover {
    background-color: #f7fa31;
}

#work-button {
    background-color: #4d70f0;
    color: #fff;
}

#work-button:hover {
    background-color: #1849fa;
    color: #fff;
}

#repay-loan-button {
    margin-top: 10px;
    background-color: #e95884;
    color: #fff;
}

#repay-loan-button:hover {
    background-color: #ce305f;
}

#features {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-small;
}

#laptop-information {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer-image {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#price-col {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}

#buy-button {
    width: 100%;
    background-color: #4cc9f1;
    font-weight: bold;
}

#buy-button:hover {
    background-color: #17b8ee;
}